:root {
    --number-of-columns: 4;
}

.columns > div {
    --grid-layout-gap: 1rem;
    --grid-column-count: var(--number-of-columns, 4);
    --grid-min-item-width: 240px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-min-item-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    align-items: flex-start;
}